<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="erp-api-gateway"/>

  <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"service":"${APP_NAME}"}</customFields>
      <includeMdc>true</includeMdc>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="JSON_CONSOLE"/>
  </root>

</configuration>