server:
  port: 8080

spring:
  application:
    name: erp-api-gateway

  cloud:
    gateway:
      httpclient:
        connect-timeout: 3000
        response-timeout: 10s

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOriginPatterns:
              - "*"
            allowedMethods:
              - "*"
            allowedHeaders:
              - "*"
            exposedHeaders:
              - "*"
            allowCredentials: true

      default-filters:
        # Evita duplicados en headers CORS
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin

      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1

        - id: sales-service
          uri: http://localhost:8082
          predicates:
            - Path=/sales/**
          filters:
            - StripPrefix=1

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true